<nav class="navbar navbar-expand-lg  bg-dark d-flex p-0  aic">
    <h5 class="text-white bold m-0 ml-5 mr-5">PAYAG AVE.</h5>
    <ul class="navbar-nav m-auto mb-2  pl-5">
        <li class="nav-item mr-2" *ngFor="let nav of navs">
            <button class="btn text-white ">{{nav.name | uppercase}}</button>
        </li>
    </ul>
    <ul class="d-flex">
        <li class="list-item icons mr-4 pt-2 " *ngFor="let nav of icons">
            <i class="bi text-white " [class]="nav.icon"></i>
        </li>
    </ul>
    <button class="btn btn-danger m-0 p-4">MAKE ORDER</button>
</nav>