<div class="container text-center">
    <h1>Welcome Back!</h1>
    <p>sign-in to Payag Ave.</p>
    <div class="d-flex">
        <button class="btn btn-dark">Admin</button>
        <button class="btn btn-light">Staff</button>
    </div>
    <div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="bi bi-key"></i>
                </div>
            </div>
            <input type="text" class="form-control form-control-lg" disabled value="Staff">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="bi bi-person"></i>
                </div>
            </div>
            <input type="text" class="form-control form-control-lg" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="bi bi-lock"></i>
                </div>
            </div>
            <input type="password" class="form-control form-control-lg" placeholder="Password">
        </div>

        or
    </div>
</div>