<div class="overlay"></div>
<div class="overlay1"></div>
<div class="container">
    <div class="row pt-5 ">
        <div class="col-md-6 landing mt-5 pt-5">
            <h1 class="text-warning">Everyday affordable prices for you!</h1>
            <p class="text-white mt-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit, id architecto. Saepe accusantium optio minus facilis. Quisquam iure enim veniam,</p>
            <button class="btn btn-lg mt-5">ORDER NOW!</button>
        </div>
        <div class="col-md-6">

            <img class="landing-img" src="/assets/images/landing/sisig-and-rh.png" alt="">
        </div>
    </div>
    <div class="row pt-5 mt-5">
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Who we are</h1>
            <div class="row mt-5">
                <div class="col-md-7">
                    <img class="w-100" src="/assets/images/venue/1.jpg" alt="">
                </div>
                <div class="col-md-5">
                    <h2>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center mt-5">Popular Items</h1>
            <carousel [height]="500" [cellsToShow]="1" [dots]="true" [autoplay]="true" [autoplayInterval]="1500" [borderRadius]="5" [margin]="0">
                <div *ngFor="let image of images" class="carousel-cell">
                    <img [src]="image" />
                </div>
            </carousel>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Our Menu</h1>

            <div class="d-flex menu">
                <button class="btn btn-lg btn-danger">Appetizers</button>
                <button class="btn btn-lg btn-danger">Short Orders</button>
                <button class="btn btn-lg btn-danger">Payag Savers</button>
                <button class="btn btn-lg btn-danger">Hards</button>
                <button class="btn btn-lg btn-danger">Beers</button>
            </div>

        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Gallery</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">What we do</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">What we stand for</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Our Partners</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Our Awards</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Owners</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Persons who visited us</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
        <div class="col-md-12 landing mt-5 pt-5">
            <h1 class="text-center text-black mt-5">Reviews</h1>
            <h5 class="text-center m-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur nostrum laborum labore possimus, veniam repudiandae inventore cum obcaecati quis quam nemo, quisquam, quos neque officiis repellat tempore repellendus recusandae vero!</h5>
        </div>
    </div>
</div>