.backdrop {
    background: rgba($color: #000000, $alpha: .5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    display: flex;
    transition: ease-in-out;
}

.modal-content {
    width: 50%;
    right: 0;
    position: absolute;
    height: 100%;
}

.modal-body {
    height: 100%;
    overflow-y: scroll;
}

.modal-footer {
    justify-content: center;
    .btn {
        padding: 10px 150px !important
    }
}

.close {
    opacity: 0;
    z-index: -99999999;
}