.backdrop {
    background: rgba($color: #000000, $alpha: .5);
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999999;
    display: flex;
}

.modal-content {
    width: 50%;
    right: 0;
    position: absolute;
    min-height: 100%;
}

.modal-footer {
    justify-content: center;
    .btn {
        padding: 10px 150px !important
    }
}