.price-container {
    border: 3px solid #AE0004;
    background-color: #E01E2E;
    * {
        color: white;
    }
    border-radius: 5px;
    padding:10px 20px;
    position: absolute;
    right: 20px;
    top:150px
}